<div th:insert="/common/header :: header"></div>


<div class="container" >

   <!-- <div>
        글번호 : <span id="id"><i>${board.id}</i></span>
        &nbsp&nbsp
        작성자 : <span><i>${board.user.username}</i></span>
        &nbsp&nbsp
        작성일 : <span><i>${board.createDate}</i></span>
    </div>-->
    <br/>

    <div class="form-group">
        <h3 th:text = ${post.title} ></h3>
    </div>

    <hr/>

    <div class="form-group">
        <div th:text = ${post.content}>  </div>
    </div>

    <hr/>
    <br/><br/>
    <button class = "btn btn-secondary" onclick = "history.back()" >목록</button>
   <!-- <c:if test = "${board.user.id == principal.user.id}">-->
        <a href = "/post/${post.id}/updateForm" class = "btn btn-warning">수정</a>
        <button id = "btn_delete"  class = "btn btn-danger">삭제</button>
    <!--</c:if>-->

    <hr/>



    <br/>

   <!-- <div class = "card">
        <div class = "card-header"> 댓글 목록 </div>
        <ul id="reply-box" class="list-group">
            <c:forEach var="reply" items="${board.replys}">
                <li id="reply-${reply.id}" class="list-group-item d-flex justify-content-between">
                    <div>${reply.content}</div>
                    <div class="d-flex">
                        <div class="font-italic">작성자 : ${reply.user.username} &nbsp;</div>

                        <c:if test = "${reply.user.id == principal.user.id}"> <%&#45;&#45;댓글작성유저만 삭제버튼이 나오게한다&#45;&#45;%>
                            <button onclick="index.replyDelete(${board.id},${reply.id})" class="badge">삭제</button>
                        </c:if>
                    </div>
                </li>
            </c:forEach>

        </ul>
    </div>-->


</div>


<div th:insert="/common/footer :: footer"></div>